@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/LatoRegular.eot');
    src: url('fonts/LatoRegular.eot') format('embedded-opentype'),
         url('fonts/LatoRegular.woff2') format('woff2'),
         url('fonts/LatoRegular.woff') format('woff'),
         url('fonts/LatoRegular.ttf') format('truetype'),
         url('fonts/LatoRegular.svg#LatoRegular') format('svg');
}
